<div class="page-container">
  <app-header [title]="titlePage"></app-header>

  <div class="container" id="content-wrap">
    <app-breadcrumb></app-breadcrumb>

    <div class="container py-2">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <form>
            <div class="row align-items-center justify-content-center py-2">
              <div class="col-10 text-start">
                <label class="col-form-label">{{ petLabel }}</label>
              </div>
            </div>
            <div *ngFor="let track of tracks">
              <p>
                Latitud: {{ track.lat }} - Longitud: {{ track.lon }} - Fecha:
                {{ track.datetime }}
              </p>
            </div>
            <div class="row align-items-center justify-content-center py-2">
              <div class="col-10 text-start">
                <label class="col-form-label">{{ distanceLabel }}</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
