.item-container {
  border: 1px solid gray;
}
.container-title {
  margin: 0;
  font-size: 0.8em;
  margin-bottom: -3px;
  padding-left: 15px;
}
.coloxbox {
  margin: 0.2em;
}
.container-list {
  padding-top: 1em;
}
.pet-name {
  font-size: 1.2em;
}
.form-check {
  font-size: 0.8em;
}
.pointer {
  cursor: pointer;
}
.active-pointer {
  color: #b51427;
}
