<div class="row justify-content-center py-3">
    <div class="col col-lg-2 col-md-3 col-sm-4 col-6 text-end text-sm-center">
      <app-button
        [text]="addButtonLabel"
        iconClass="fa fa-plus-circle"
        link="pet"
      ></app-button>
    </div>
    <div class="col col-md-2 col-sm-3 col-6 text-start text-sm-center">
      <app-button-icon iconClass="fa fa-bell-o" link="alerts"></app-button-icon>
      <app-button-icon iconClass="fa fa-cog" link="settings"></app-button-icon>
    </div>
  </div>
  