<div class="page-container">
  <app-header [title]="titlePage"></app-header>

  <div class="container" id="content-wrap">
    <app-breadcrumb></app-breadcrumb>

    <div class="container py-2">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <app-alert color="primary" [message]="messageAlert"></app-alert>
          <form
            autocomplete="off"
            [formGroup]="configForm"
            (ngSubmit)="onSubmit()"
          >
            <!-- Checkbox Sincronizar -->
            <div class="row align-items-center justify-content-center py-3">
              <div class="col-10">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="checkboxDoSync"
                    formControlName="doSync"
                  />
                  <label class="form-check-label" for="checkboxDoSync">
                    {{ doSyncLabel }}
                  </label>
                </div>
              </div>
            </div>

            <!-- Intervalo de sincronización -->
            <div class="row align-items-center justify-content-center pb-2">
              <div class="col-6 text-start">
                <label for="inputIntervalSync" class="col-form-label">{{
                  intervalSyncLabel
                }}</label>
              </div>
              <div class="col-2">
                <input
                  type="number"
                  id="inputIntervalSync"
                  class="form-control form-control-sm"
                  formControlName="intervalSync"
                />
              </div>
              <div class="col-2 text-start">
                <label>{{ minutesLabel }}</label>
              </div>
            </div>

            <!-- Ubicación del hogar -->
            <div class="row align-items-center justify-content-center py-2">
              <div class="col-10 text-start">
                <label for="inputCode" class="col-form-label">{{
                  locationLabel
                }}</label>
                <google-map
                  width="100%"
                  [center]="center"
                  [zoom]="zoom"
                  (mapClick)="addMarker($event)"
                >
                  <map-marker
                    [position]="markerPosition"
                    [options]="markerOptions"
                  ></map-marker>
                </google-map>
              </div>
            </div>

            <!-- Checkbox Alertar -->
            <div class="row align-items-center justify-content-center py-3">
              <div class="col-10">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="checkboxDoAlert"
                    formControlName="doAlert"
                  />
                  <label class="form-check-label" for="checkboxDoAlert">
                    {{ doAlertLabel }}
                  </label>
                </div>
              </div>
            </div>

            <!-- Distancia de alertamiento -->
            <div class="row align-items-center justify-content-center pb-2">
              <div class="col-6 text-start">
                <label for="inputDistanceAlert" class="col-form-label">{{
                  distanceAlertLabel
                }}</label>
              </div>
              <div class="col-2">
                <input
                  type="number"
                  id="inputDistanceAlert"
                  class="form-control form-control-sm"
                  formControlName="distanceAlert"
                />
              </div>
              <div class="col-2 text-start">
                <label for="inputDistanceAlert" class="col-form-label">{{
                  metersLabel
                }}</label>
              </div>
            </div>

            <!-- Intervalo de alertamiento -->
            <div class="row align-items-center justify-content-center pb-2">
              <div class="col-6 text-start">
                <label for="inputIntervalAlert" class="col-form-label">{{
                  intervalAlertLabel
                }}</label>
              </div>
              <div class="col-2">
                <input
                  type="number"
                  id="inputIntervalAlert"
                  class="form-control form-control-sm"
                  formControlName="intervalAlert"
                />
              </div>
              <div class="col-2 text-start">
                <label for="inputIntervalAlert" class="col-form-label">{{
                  minutesLabel
                }}</label>
              </div>
            </div>

            <!-- Botones de acción -->
            <div class="row align-items-center text-center">
              <div class="col-12 pt-3">
                <app-button
                  [text]="btnSaveLabel"
                  type="submit"
                  btnClass="btn btn-primary btn-sm"
                >
                </app-button>
                &nbsp;
                <app-button
                  [text]="btnCancelLabel"
                  btnClass="btn btn-secondary btn-sm"
                  link="/"
                >
                </app-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
