<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="container item-container">
        <div class="row">
          <div class="col">
            <b>{{ title }}</b>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{ datetime }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>{{ petLabel }}</span>
            &nbsp;
            <span>{{ distanceLabel }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
